.article {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-image {
    width: 100%;
    display: block;
}

.article-overlay {
    position: absolute;
    top: 450px;
    left: 20px;
    right: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.article-content {
    padding: 15px;
    background: white;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title-icon {
    background-color: rgb(176, 8, 8);
    padding: 2px;
    color: rgb(176, 8, 8);;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}
